@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }

  li {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
    text-align: center;
  }
}

.app {
  padding: 10px;
}
